.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 0.6rem;
}
.table {
  border-collapse: collapse;
  width: 80%;
}
th,
td {
  border: 1px solid #000;
  text-align: left;
  padding: 15px;
}
